* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Segoe UI", sans-serif;
    height: 100%;
  }
  /* navbar */
  nav {
    background: rgb(20, 20, 20);
    min-height: 50px;
    color: white !important;
    width: 100%;
  }
  .scroll-hide.hidden-header {
      transform: translateY(-100%);
    }
  .nav-tab {
    width: 100%;
    background: rgb(20, 20, 20);
    color: white !important;
   
  }
  .menu-container {
    width: 100%;  
  }
  .mymain {
    width: 30%;
    display: flex;
  }
  .w-80{
    width: 100%;
  }
  /* cotent */
  .main-content {
  margin: 10px auto;
    width: 85%;
  }
  .banner1 h1 {
    font-weight: 700;
  }
  .banner-2 {
    background-color: #f1f1f1;
    border-left: 7px solid #ccc;
  }
  .border-left {
    border-left: 6px solid #938e8e;
  }
  .city {
    display: flex;
  }
  .banner1 {
    width: 90% !important;
  }
  .notice {
    background-color: #deebf7;
    border: dashed 1px #5f7baa;
  }
  .review {
    color: #333;
    line-height: 22px;
    font-weight: 400;
    cursor: default;
  }
  .offer-date-highlight {
    background: #ffff7f;
    padding: 3px 5px !important;
    text-align: center;
  }
  /* question  */
  #mainBody {
    font-family: Helvetica, Arial, sans-serif;
    margin-top: 50px;
  }
  #mainBody .formArea {
    color: #666;
    font-size: 24px;
    height: auto;
    line-height: 135%;
    margin-left: auto;
    margin-right: auto;
    max-width: 550px;
    min-height: 300px;
    text-align: center;
  }
  #mainBody .photo {
    height: auto;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    width: 100%;
  }
  #mainBody .clearBoth {
    clear: both;
  }
  #mainBody h1 {
    color: #000;
    line-height: 110%;
    margin: 10px 0;
    text-align: center;
  }
  #mainBody h2 {
    color: #353536;
    font-weight: 400;
    line-height: 120%;
    margin: 40px 0;
    text-align: center;
    font-size: 16px;
  }
  #mainBody h3 {
    color: #000;
    font-weight: 400;
    line-height: 120%;
    margin: 0;
    text-align: left;
  }
  #mainBody ul {
    padding-left: 0;
  }
  #mainBody li {
    margin-left: 30px;
  }
  #mainBody .questionNumber {
    border-bottom-color: #a6a6a6;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    color: #3293df;
    font-size: 16px;
    font-weight: 700;
    line-height: 100%;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    padding: 0;
    width: 100%;
  }
  #mainBody #question2,
  #mainBody #question3,
  #mainBody #loadingAnim,
  #mainBody #loading1,
  #mainBody #loading2,
  #mainBody #loading3,
  #mainBody #loading4,
  #mainBody #qualify,
  #mainBody #noQualify,
  #mainBody #redirecting,
  #mainBody #loadingAnim2 {
    display: none;
  }
  #mainBody .qualifyHeadline {
    color: #4a7d36;
    font-weight: 700;
  }
  #mainBody #redirecting {
    color: #a6a6a6;
  }
  #mainBody .loadingCopy {
    line-height: 125%;
    padding-bottom: 20px;
  }
  #mainBody button {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 12px 24px;
    font-size: 17px;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    margin: 13px auto 30px;
    color: #fff !important;
    cursor: pointer;
    display: block;
    background-color: #3293df;
    box-shadow: 0 5px 0 0 #c82;
    -webkit-box-shadow: 0 5px 0 0 #1d77bd;
    -moz-box-shadow: 0 5px 0 0 #1d77bd;
    max-width: 400px;
    margin: 20px auto;
    width: 100%;
    border: none;
  }
  #mainBody button:hover,
  #mainBody button:active {
    background-color: #1d77bd !important;
  }
  a.button {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 12px 24px;
    font-size: 17px;
    text-decoration: none !important;
    text-align: center;
    font-weight: 700;
    color: #fff !important;
    cursor: pointer;
    display: block;
    background-color: #3293df;
    box-shadow: 0 5px 0 0 #c82;
    -webkit-box-shadow: 0 5px 0 0 #1d77bd;
    -moz-box-shadow: 0 5px 0 0 #1d77bd;
    max-width: 400px;
    margin: 0 auto;
    width: 100%;
    border: none;
  }
  a.button:hover,
  a.button:active {
    background-color: #1d77bd !important;
  }
  #mainBody a:link {
    color: #c45022;
    font-weight: 700;
    text-decoration: none;
  }
  #mainBody a:visited {
    color: #c45022;
  }
  #mainBody a:hover {
    color: #c45022;
    text-decoration: underline;
  }
  #mainBody #loadingAnim,
  #mainBody #loadingAnim2 {
    background-image: url(/build/uk/5/assets/img/loading_round.gif);
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 17px;
    width: 60px;
  }
  .media,
  .media .media {
    margin-top: 15px;
  }
  .media > .pull-left {
    margin-right: 10px;
  }
  .media-object {
    display: block;
  }
  .media-heading {
    margin: 0 0 5px;
  }
  .media,
  .media-body {
    overflow: hidden;
    zoom: 1;
  }
  #comments {
    max-width: 100%;
  }
  .media-body h4 {
    font-size: 14px;
    line-height: 0;
    margin: 5px 0;
    padding: 0;
  }
  .form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s,
      box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  }
  .form-group {
    margin-bottom: 15px;
  }
  textarea.form-control {
    height: auto;
  }
  .cbtn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
  }
  .cbtn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-shadow: none;
  }
  .cbtn-default:hover {
    background-color: #ccc;
    text-shadow: none;
  }
  .entry-content blockquote.bqimage {
    border: 0;
    padding-left: 5px;
  }
  /* responsive */
  
  
  
  @media screen and (max-width: 768px) {
   
    nav {
      background: rgb(20, 20, 20);
      min-height: 60px;
      color: white !important;
      width: 100%;
    }
    .dropdown .dropdown-menu {
      display: block;
      opacity: 0;
      -webkit-transition: all 500ms ease-in;
      -moz-transition: all 500ms ease-in;
      -ms-transition: all 500ms ease-in;
      -o-transition: all 500ms ease-in;
      transition: all 500ms ease-in;
    }
    .banner1 {
      margin: 0 auto;
      width: 100% !important;
    }
  
    .main-content {
    
      width: 90%;
    }
    .city {
      display: none !important;
    }
    .search {
      display: none;
    }
  }
  